<div id="links" class="mt-5">
  <a href="/doc/localisation">Localisation</a>
  <a href="/doc/ville">Ville</a>
  <a href="/doc/departement">Département</a>
  <a href="/doc/nom-ville">Nom de ville</a>
  <a href="/doc/nom-departement">Nom de département</a>
</div>
